:root {
    font-size: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100vw;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    list-style: none;
}

body {
    display: grid;
    grid-template: 1fr 3fr / 1fr 3fr;
    grid-template-areas: 
    "side nav"
    "side cont";

    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar {
    grid-area: side;
    background: rgb(14, 116, 212);

    z-index: 2;
}

.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5rem;

    padding: 3rem;
    overflow: hidden;
}


.dashboard, #widgets1, #widgets2 {
    width: 100%;
}

.dashboard:hover, .widgets:hover {
    cursor: pointer;
}

.widgets:hover {
    background-color: rgb(12, 101, 184);
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard-title {
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.dashboard-icon {
    height: 7rem;
    aspect-ratio: auto;
    fill: white;
}


.widgets {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
}

.widgets > h1{
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.widgets-icons {
    height: 3rem;
    aspect-ratio: auto;
    fill: white;
}



#navbar {
    grid-area: nav;
    background: white;

    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;

    box-shadow: 0 1px 10px grey;
    z-index: 1;
}

.nav-icons {
    height: 3rem;
    aspect-ratio: auto;
    fill: black;
}

.nav-icons:hover {
    cursor: pointer;
    opacity: 70%;
}

.nav-up {
    display: flex;
    gap: 2rem;

    margin-bottom: 2rem;
}

.nav-up-one {
    flex: 2;

    display: flex;
    align-items: center;
    gap: 2rem
}

.nav-up-two {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem
}

input[type='text'] {
    width: 75%;
    height: 4rem;
    border-radius: 2rem;
    background-color: rgb(226, 226, 226);
    padding: 1rem;
}

input[type='text']:focus {
    border: 3px solid rgb(155, 155, 155);
    outline: none;
}

img[alt="pfp"] {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

img[alt="pfp"] ~ h1 {
    display: inline;
    font-weight: 600;
    font-size: 15px;
}

.nav-down {
    display: flex;
}

.nav-down-one {
    flex: 2;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

#greeting > h1 {
    font-weight: 600;
    font-size: 20px;
}

#greeting > h5 {
    font-weight: 600;
    font-size: 10px;
}

.nav-down-two {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-down-buttons {
    width: 30%;
    height: 30px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    background-color: rgb(14, 116, 212);

    transition: background-color, color, opacity;
    transition-duration: .2s;
}

.nav-down-buttons:hover {
    background-color: rgb(226, 226, 226);
    color: rgb(14, 116, 212);
    cursor: pointer;
}

.nav-down-buttons:active {
    opacity: 70%;
}

img[alt="pfp2"] {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}



#content {
    grid-area: cont;
    background: rgb(226, 232, 240);

    display: flex;
}

.content1 {
    flex: 2;

    display: grid;
    grid-template: repeat(auto-fit, minmax(4vh, 1fr))/repeat(auto-fit, minmax(20vw ,1fr));
    gap: 2rem;
    height: max-content
}

.wrapper {
    padding: 2rem;
    flex: 2;

    display: flex;
    flex-direction: column;
}

.wrapper > h1 {
    margin-bottom: 1rem;
    font-size: 2.3rem;
    font-weight: 600;
}

.content-card {
    background-color: white;
    padding: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-left: 1rem solid rgb(241, 177, 31);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 100px;

    overflow-y: scroll;
}

/* this just hides the cards' scrollbar */
.content-card::-webkit-scrollbar {
    display: none;
}
.content-card {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* ... */

.card-text > h1 {
    font-size: 2rem;
    font-weight: 600;
}

a {
    font-weight: 600;
}

a:active {
    color: rgb(0, 102, 255);
}

.card-text > h3 {
    font-size: 2rem;
    font-weight: 400;
    color: grey;
}

.card-text {
    margin: 1rem;
}


.card-icons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.card-icons > svg {
    height: 3rem;
    aspect-ratio: auto;
    fill: black;

    transition: fill;
    transition-duration: .2s;
}

.card-icons > svg:hover {
    cursor: pointer;
    fill: rgb(241, 177, 31);
}



.content2 {
    flex: 1;
    padding: 2rem;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.announcements, .trending {
    width: 90%
}

.announcements > h1, .trending > h1 {
    margin-bottom: 1rem;
    font-size: 2.3rem;
    font-weight: 600;
}

#ann-card {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
}

#ann-card > .ann:not(:last-child) {
    border-bottom: 2px solid rgb(224, 224, 224);
}

.ann {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.ann > h1, .ann > h3 {
    overflow-wrap: break-word;
}

.ann > h1 {
    font-size: 2rem;
    font-weight: 600;
}

.ann > h3 {
    font-size: 1.9rem;
    font-weight: 500;
    color: grey;
}

#trend-card {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 3rem
}

.dummy-user {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.dummy-user > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.dummy-user-text > h3{
    font-size: 2rem;
}

.dummy-user-text > h3:first-child {
    font-weight: 600;
}

.dummy-user-text > h3:last-child {
    font-weight: 400;
    color: grey
}




/* media queries */
@media screen and (max-width: 1200px) {
    :root {
        font-size: 7.5px;
    }
}

@media screen and (max-width: 1107px) {
    :root {
        font-size: 6px;
    }
}

@media screen and (max-width: 888px) {
    :root {
        font-size: 12px;
    }

    .dashboard-icon {
        margin: auto;
    }

    .dashboard-title {
        display: none;
    }

    .widgets > h1 {
        display: none;
    }

    .widgets {
        margin-bottom: 1rem;
        text-align: center;
    }

    .widgets-icons {
        margin: auto;
    }

    .container {
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .nav-up-one > svg {
        display: none;
    }

    .nav-up-one > input[type='text'] {
        width: 100%;
        height: 2rem;
        border-radius: 1rem;
    }

    .nav-down-two {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-down-buttons {
        width: 75%;
    }

    .content2 {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    :root {
        font-size: 10px;
    }

    .nav-up-one > input[type='text'] {
        width: 100%;
        height: 4rem;
        border-radius: 2rem;
    }

    .nav-up-two > svg, .nav-up-two > h1 {
        display: none !important;
    }
}

@media screen and (max-width: 368px) {
    :root {
        font-size: 8px;
    }
}

@media screen and (max-width: 476px) {
    .nav-down-two {
        display: none;
    }
}